
html, body {
  margin: 0;
  padding: 0;
  color: white;
}

/* Header */

header {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: black;
  color: white;
  margin-bottom: 1em;
}

header a {
    text-decoration: none;
}

header img {
  max-height: 8em;
}

header p {
  display: grid;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

/* Main */

main {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

main img {
  display: grid;
  justify-self: end;
  max-height: 35em;
}

main a {
  display: grid;
  justify-self: start;
  margin-left: 5em;
  padding: 0.5em 2em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  background-color: black;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  background-color: black;
  padding: 1em 0;
  margin-top: 1em;
}

footer p {
  margin: 0;
}
